body{
    margin: 1vw 10vw;
    padding: 1vw;
    background-color: white;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}
article{
    padding: 0%;
}
ul{
    list-style-type: none;
    background-color: #000000;
  /*  padding: 0%;
    margin: 0%;*/
}
ul, ul li, .txt, .img {
    padding: 0%;
    margin: 0%;
}
.txt, .img {
    display: inline-block;
    width: 50%;
    height: 256px;
    line-height: 256px;
    opacity: 1;
    transition: opacity .3s ease 0s;
}
.txt {
    background-color: #dddddd;   
    text-align: center;
    text-transform: uppercase;
}
.img {
    background-clip: border-box;
    background-image: url(../img/sandomin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: background-size 1s ease 0s;
}
li:nth-child(odd) .img {float: right;}
li:nth-child(even) .img {float: left;}

li:hover .txt, li:hover .img {
    opacity: .6;
    background-size: 200% 200%;
    transition: opacity .3s ease 0s;
    transition: background-size 1s ease 0s;
}